* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0d0d0c;
    padding: 20px;
}
.search-container img {
    width: 30px;
    height: 30px;
}
.search-container img {
    cursor: pointer;
}
.search-container input {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 18px;
    background-color: #0d0d0c;
    color: white;
}
.search-container input:focus, .typeSearch:focus {
    outline: none;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    border: 3px solid white;
    padding: 0px 10px;
    border-radius: 10px;
}
h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #facc15;
    text-align: center;
}
p {
    font-size: 19px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.typeSearch {
    background-color: #0d0d0c;
    color: white;
    border: none;
    font-size: 18px;
}
footer {
    color: white;
    font-size: 14px;
    bottom: 0px;
    background-color: #0d0d0c;
}
footer a {
    color: white;
}
header {
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.flag {
    height: 25px;
    width: 30px;
    object-fit: contain;
}
.lang {
    background: none;
    color: white;
    border: 3px solid white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    font-weight: 800;
    align-items: center;
    font-size: 16px;
}
.other-langs {
    display: none;
    margin-top: 5px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.other-langs a {
    display: flex;
    align-items: center;
    gap: 10px;
}
.other-langs a {
    color: white;
    text-decoration: none;
}
.lang:hover {
    cursor: pointer;
}
.results {
    padding: 80px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.single-item {
    padding: 20px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 5px;
}
.item-info {
    margin-top: 5pxsearch-container;
}
.index-container {
    padding-top: 60px;
}
@media (min-width: 1280px) {
    .results {
        grid-template-columns: 1fr 1fr 1fr;
    }
}